<mat-card>
    <form class="form-container" (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field class="full-width">
            <input matInput type="text" name="title" [ngModel]="post?.title" required #title="ngModel"
                placeholder="Enter Title">
            <mat-error *ngIf="title.invalid">Enter Title</mat-error>
        </mat-form-field><br>
        <mat-form-field class="full-width">
            <textarea matInput rows="6" name="content" [ngModel]="post?.content" required #content="ngModel"
                placeholder="Enter Content"></textarea>
            <mat-error *ngIf="content.invalid">Enter Content</mat-error>
        </mat-form-field>
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Save Post</button>
        </div>
    </form>
</mat-card>